doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Programming Intro

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Introduction to programming 03
        h2 Functions

      section
        h2 Functions
        h3 A JavaScript function is a block of code designed to perform a particular task.
        h4 console.log('message')

      section
        h2 Defining a Function
        h3 A function definition is just a regular variable definition where the value given to the variable happens to be a function.
        pre
          code.language-javascript.
            var square = function(x) {
              return x * x;
            };
            console.log(square(12));
        
      section
        h2 Defining a function
        h3 A function can have multiple parameters or no parameters at all.
        pre
          code.language-javascript.
            var makeNoise = function() {
              console.log("Pling!");
            };

      section
        h2 Defining a function
        h3 Some functions produce a value, some don't

      section
        h2 Parameters and scopes
        h3 The parameters to a function behave like regular variables, but their initial values are given by the caller of the function
        
      
      section 
        h2 Scopes
        h3 An important property of functions is that the variables created inside of them, including their parameters, are local to the function. 
        pre
          code.language-javascript.

            var x = "outside";

            var f1 = function() {
              var x = "inside f1";
            };
            
            f1();
            
            console.log(x);
            // → outside

            var f2 = function() {
              x = "inside f2";
            };
            f2();
            console.log(x);
            // → inside f2
        
      
      section
        h2 Declaration notation
        h3 There is a slightly shorter way to say “var square = function…”. 
        pre
          code.language-javascript.
            function square(x) {
              return x * x;
            }
      
      section
        h2 Declaration notation
        h3 There is a slightly shorter way to say “var square = function…”. 
        pre
          code.language-javascript.
            console.log("The future says:", future());

            function future() {
              return "We STILL have no flying cars.";
            }
          
      section
        h2 Recursion
        h3 A function that calls itself is called **recursive**
        pre
          code.language-javascript.
            function power(base, exponent) {
            if (exponent == 0)
              return 1;
            else
              return base * power(base, exponent - 1);
            }

            console.log(power(2, 3));
            // → 8
      
      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
