doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Programming Intro

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Introduction to programming

      section
        h2 Computer Science
        h3 Scientific and practical approach to computation and its application. 
        ul 
          li Problem
          li Input 
          li Ouput
          li Algorithms

      section
        h2 Programming
        h3 Computer Science is not programming.
        
      section
        h2 Programming
        h3 Programming is a tool for apliying Computer Science.
        
        
      section 
        h2 What does a Computer understand ?
        
      section 
        h2 Binary 
        h3 Is a number expressed in the binary numeral system, or base-2 numeral. 
        
      section 
        h2 Decimal System
        img(src="images/decimal-system1.png")
        
      section 
        h2 Decimal System
        img(src="images/decimal-system2.png")
        
      section
        h2 Binary System
        img(src="images/binary-system1.png")
        
      section
        h2 Binary System
        img(src="images/binary-system2.png")
        
      section
        h2 Binary System
        img(src="images/binary-system3.png")
        
        
      section
        h2 ASCII
        img(src="images/ascii.png")
        
      section
        img(src="images/multimedia.png")
        
      section
        h2 Algorithms
        iframe(width="560" height="315" src="https://www.youtube.com/embed/6hfOvs8pY1k" frameborder="0" allowfullscreen)
        
      section
        h2 Scratch
        img(src="images/scratch.png")
        h3 Scratch is a free programming language and online community where you can create your own interactive stories, games, and animations.
        
      section
        h2 Scratch Demo
        a(href="https://scratch.mit.edu/projects/2016536/" _target="_blank")
          img(src="images/scratch.png")
        h3 https://scratch.mit.edu/projects/2016536/
        
      section
        h2 Hello World!!!
        pre
          code.language-javascript.
            #include&lt;stdio.h&gt;

              main()
              {
                printf("Hello World");

              }
      
      section
        h2 Scratch Loop
        img(src="images/scratch-loop.png")
        
      section
        h2 Scratch IF Statement
        img(src="images/scratch-if.png")
      
      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
